<%= render 'shared/errors', obj: @lap %>
<div class="container">
<form>
  <fieldset>
<%= form_for @lap do |f| %>

  <div class="form-group">
	<div class="row">
  	  <div class="col">	
	  	<div class="input-group-prepend">
	    	<label class="input-group-text" for="inputGroupSelect01">Simulators</label>
	    </div>
			<%= f.collection_select(:simulator_id, Simulator.all, :id, :name, 
			  {class: 'form-control'}) %> 
	  </div>
  	  <div class="col">	
	  	<div class="input-group-prepend">
	    	<label class="input-group-text" for="inputGroupSelect01">Tracks</label>
	    </div>
			<%= f.collection_select(:track_id, Track.all, :id, :name, 
				{class: 'form-control'}) %> 
	  </div>
	  <div class="col">	
	  	<div class="input-group-prepend">
	    	<label class="input-group-text" for="inputGroupSelect01">Cars</label>
	    </div>
			<%= f.collection_select(:car_id, Car.all, :id, :name, {class: 'form-control '}) %> 
	  </div>
  	</div>
  </div>

	<p></p>
  <div class="form-group">
  	<h4 class="text-center">TIMELAP</h4>
	<div class="row">
	  <div class="col-md-1 offset-md-4">
		<%= f.label :minutes %>
		<%= f.number_field :t_minutes, in: 0..59, class: "form-control" %>
	  </div>
	  <div class="col-1">
		<%= f.label :seconds %>
		<%= f.number_field :t_seconds, in: 0..59, class: "form-control" %>
	  </div>
	  <div class="col-1">
		<%= f.label :milliseconds %>
		<%= f.number_field :t_millis, in: 0..999, class: "form-control" %>
	  </div>
    </div>
  </div>
	<p></p>
	<div class="form-group">
	  <div class="row">
	  	<div class="col">
	    <h4>SETUP</h4>
	    <table>
	        <tr>
	            <td><%= f.label 'Settings', 'Custom' %></td>
	            <td><%= f.radio_button :setting, true %></td>
	        </tr>

	        <tr>
	            <td><%= f.label 'Settings', 'Default' %></td>
	            <td><%= f.radio_button :setting, false, checked: true %></td>
	        </tr>
	    </table>
		</div>
		<div class="col">
		<h4>HARDWARE</h4>
	    <table>
	        <tr>
	            <td><%= f.label 'Hardware', 'Custom' %></td>
	            <td><%= f.radio_button :hardware, true %></td>
	        </tr>

	        <tr>
	            <td><%= f.label 'Hardware', 'Default' %></td>
	            <td><%= f.radio_button :hardware, false, checked: true %></td>
	        </tr>
	    </table>
		</div>
		<div class="col">
		<h4>NOTES</h4>
			<%= f.text_area :notes, placeholder: "Enter your notes..." %>
		</div>
	  </div>
	</div>

	<p></p>
	<div class="row">
	  <div class="col-lg-12">
		<%= f.submit "Create Laptime", class: "btn ml-1 btn-outline-primary float-right" %>
	  </div>
	</div>
<% end %>
<p></p>
<%= link_to 'Back', laps_path %>
  </fieldset>
</form>
</div>