<%= render 'shared/errors', obj: @lap %>

<%= form_for @lap do |f| %>
	<p>
		<%= f.collection_select(:simulator_id, Simulator.all, :id, :name) %> 
	</p>
	<div class="row">
	  <div class="column">
		<%= f.label :minutes %>
		<%= f.number_field :t_minutes, in: 0..59 %>
	  </div>
	  <div class="column">
		<%= f.label :seconds %>
		<%= f.number_field :t_seconds, in: 0..59 %>
	  </div>
	  <div class="column">
		<%= f.label :milliseconds %>
		<%= f.number_field :t_millis, in: 0..999 %>
	  </div>
	</div>	
	<p>
	    <b>Setting</b><br />
	    <table>
	        <tr>
	            <td><%= f.label 'Settings', 'Custom' %></td>
	            <td><%= f.radio_button :setting, true %></td>
	        </tr>

	        <tr>
	            <td><%= f.label 'Settings', 'Default' %></td>
	            <td><%= f.radio_button :setting, false, checked: true %></td>
	        </tr>
	    </table>
	</p>
	    <table>
	        <tr>
	            <td><%= f.label 'Hardware', 'Custom' %></td>
	            <td><%= f.radio_button :hardware, true %></td>
	        </tr>

	        <tr>
	            <td><%= f.label 'Hardware', 'Default' %></td>
	            <td><%= f.radio_button :hardware, false, checked: true %></td>
	        </tr>
	    </table>
	<p>
		<%= f.label :notes %>
		<%= f.text_area :notes, placeholder: "Enter your notes..." %>
	</p>
	<%= f.submit %>
<% end %>
<p></p>
<%= link_to 'Back', laps_path %>