<%= render 'shared/page_title', title: "showing timeLap" %>

	<%= @lap.time %>
	<span>Settings: <%= @lap.setting %></span>
	<span>Hardware: <%= @lap.hardware %></span>
	<span>Notes: <%= @lap.notes %></span>
	<p></p>