
<div class="container show-page">
<div class="row justify-content-center">
  <div class="col-sm-12 offset-md-2">
  	<div class="card border-info bg-transparent mb-3 mt-3" style="max-width: 80%;">
  	  <div class="card-body">
  	  	<h3 class="card-title text-center">Showing TimeLap</h3>
  	  	<p><hr></p>
		<span>Simulator: <%= @lap.simulator.name %></span>
		<span>Track: <%= @lap.track.name %></span>
		<span>Car: <%= @lap.car.name %></span>
		<span>LapTime: <%= @lap.formated_time(@lap.time).first %></span>
		<% if @lap.setting == "true" %>
			<span>Setting: default</span>
		<% else %>
			<span>Setting: custom</span>
		<% end %>

		<% if @lap.hardware == "true" %>
			<span>Hardware: default</span>
		<% else %>
			<span>Hardware: custom</span>
		<% end %>

		<span>Notes: <%= @lap.notes %></span>


		<p></p>

		<%= link_to 'Edit', edit_lap_path(@lap),  class: "btn ml-1 btn-info" %>
		<%= link_to 'Back', laps_path, class: "btn ml-1 btn-info" %>
		<%= link_to 'Delete', lap_path(@lap), method: :delete, 
			data: { confirm: "Are you sure?" }, class: "btn ml-1 btn-info" %>
		</div>
	  </div>
	</div>
</div>
</div>