<%= render 'shared/page_title', title: "showing timeLap" %>

	<span>Simulator: <%= @lap.simulator.name %></span>
	<span>Track: <%= @lap.track.name %></span>
	<span>LapTime: <%= @lap.formated_time(@lap.time) %></span>
	<% if @lap.setting == "true" %>
		<span>Setting: default</span>
	<% else %>
		<span>Setting: custom</span>
	<% end %>

	<% if @lap.hardware == "true" %>
		<span>Hardware: default</span>
	<% else %>
		<span>Hardware: custom</span>
	<% end %>

	<span>Notes: <%= @lap.notes %></span>


	<p></p>

	<%= link_to 'Edit', edit_lap_path(@lap) %>
	<%= link_to 'Back', laps_path %>
	<%= link_to 'Delete', lap_path(@lap), method: :delete, 
		data: { confirm: "Are you sure?" } %>